<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue-pink.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>

    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/init.js" />
</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Play Tick-Tac-Toe!</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-layout__content">
                <input id="c0" type="checkbox"/><label for="c0"></label>
                <input id="c1" type="checkbox"/><label for="c1"></label>
                <input id="c2" type="checkbox"/><label for="c2"></label>
                <input id="c3" type="checkbox"/><label for="c3"></label>
                <input id="c4" type="checkbox"/><label for="c4"></label>
                <input id="c5" type="checkbox"/><label for="c5"></label>
                <input id="c6" type="checkbox"/><label for="c6"></label>
                <input id="c7" type="checkbox"/><label for="c7"></label>
                <input id="c8" type="checkbox"/><label for="c8"></label>
            </div>
        </div>
    </main>
</div>

</body>
</html>
